@import url(./styles/variables.css);
@import url(./styles/fonts.css);
@import url(./styles/search-panel.css);
@import url(./styles/weather.css);
@import url(./styles/cards.css);
@import url(./styles/carousel.css);
@import url(./styles/footer.css);

html {
  background-image: url(./public/background-cloudy.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
}

.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.body {
  margin: 32px auto;
  font-family: var(--main-font);
  border-radius: var(--border-radius8);
  background: #7070701a;
  backdrop-filter: var(--blur25);
}

.fallbackMessage {
  text-align: center;
  background-color: rgb(253, 107, 107);
  color: rgb(185, 40, 40);
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 32px;
  gap: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
