.cards {
  width: 506px;
  height: 408px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cards__item {
  width: 158px;
  height: 196px;
  border-radius: 8px;
  background: #f5f4f466;
}
