.cards {
  width: 100%;
  max-width: 400px;
}
@media (min-width: 768px) {
  .cards {
    max-width: 513px;
  }
}
@media (min-width: 1024px) {
  .cards {
    flex: 0 0 506px;
    gap: 16px;
  }
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 768px) {
  .cards__list {
    gap: 12px;
  }
}
@media (min-width: 1024px) {
  .cards__list {
    width: 100%;
    gap: 16px;
  }
}

.cards__item {
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 12px 12px 14px 12px;
  border-radius: var(--border-radius8);
  background: #f5f4f466;
  @media (min-width: 768px) {
    gap: 1rem;
    padding: 16px;
  }
}

.cards__item-title {
  position: relative;
  top: 1px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.334;
  color: #202020;
  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.25;
  }
}

.cards__item-icon {
  width: 24px;
  height: 24px;
  transform: rotate(var(--icon-rotate, 0deg));
  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.cards__item-value {
  text-align: center;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1;
  color: #202020;
  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 1;
  }
}

.cards__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  @media (min-width: 768px) {
    gap: 1rem;
  }
}

.cards__item-bar {
  min-height: 24px;
  display: grid;
  font-size: 0.625rem;
  line-height: 1.2;
  gap: 6px;
  @media (min-width: 768px) {
    min-height: 32px;
    gap: 8px;
  }
}

.custom-progress-wrap {
  position: relative;
  width: 100%;
  height: 6px;
  isolation: isolate;
}

.custom-progress {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background: #f5f4f466;
  -webkit-mask-image: radial-gradient(
    circle at var(--marker-pos, 0%),
    transparent 0,
    transparent 5px,
    #000 5.5px
  );
  mask-image: radial-gradient(
    circle at var(--marker-pos, 0%),
    transparent 0,
    transparent 5px,
    #000 5.5px
  );
}

.custom-progress--gradient {
  background: radial-gradient(
    50% 9453.13% at 50% 50%,
    rgba(84, 84, 84, 0.4) 0%,
    rgba(138, 138, 138, 0.4) 45.12%,
    #dadada 100%,
    rgba(218, 218, 218, 0.4) 100%
  );
}
.marker {
  position: absolute;
  z-index: 2;
  top: 0;
  left: var(--marker-pos, 0%);
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  display: block;
  pointer-events: none;
  shape-rendering: geometricPrecision;
}

.cards__item-descriptions {
  height: fit-content;
  text-align: center;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.2;
  color: #393939;
  @media (min-width: 768px) {
    font-size: 0.75rem;
    line-height: 1.334;
  }
}

.cards__item-minMax {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #393939;
}
