.search {
  max-width: 506px;
  min-width: 263px;
  flex: 1;
}
@media (min-width: 768px) {
  .search {
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .search {
    max-width: 506px;
  }
}

.search-form {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-radius: var(--border-radius8);
  background: var(--search-background);
}
@media (min-width: 768px) {
  .search-form {
    padding: 12px 16px;
  }
}
@media (min-width: 1024px) {
  .search-form {
    max-width: 506px;
  }
}

.search-form:hover {
  background: var(--search-hover);
}

.search-form:focus-within {
  background: var(--search-hover);
}

.search__input {
  width: 80%;
  height: fit-content;
  border: none;
  display: flex;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.143;
  background: none;
  outline: none;
  border: none;
  @media (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

.search__icon {
  display: block;
  width: 16px;
  height: 16px;
  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.search__icon--cross {
  color: var(--search-btn-cross);
}

.search__icon--loupe {
  display: block;
}

.search__submit {
  all: unset;
  display: none;
  cursor: pointer;
}

.search-form--clear .search__submit {
  display: block;
}

.search-form--clear .search__icon--loupe {
  display: none;
}

.search__submit:hover .search__icon--cross {
  color: var(--search-btn-cross-hover);
}
