:root {
  --main-font: Raleway, Arial, sans-serif;

  /* GAP */

  --gap8: 8px;
  --gap16: 16px;

  /* BORDER */

  --border-radius8: 8px;

  /* BLUR */

  --color-blur10: #7070701a;
  --blur25: blur(25px);

  /* COLOR */

  --basic: #f5f4f4;
  --search-hover: #dadada;
  --search-active: #dadada;
  --search-background: #f5f4f466;
  --search-placeholder: #707070;
  --search-btn-cross: #707070;
  --search-btn-cross-hover: #202020;
}
