:root {
  --main-font: Raleway, Arial, sans-serif;

  /* BLUR */

  --color-blur10: #7070701a;
  --blur10: blur(10px);
  --blur25: blur(25px);
  --blur50: blur(50px);

  /* COLOR */

  --basic: #f5f4f4;
  --search-hover: #dadada;
  --search-active: #dadada;
  --search-background: #f5f4f466;
  --search-placeholder: #707070;
  --search-btn-cross: #707070;
  --search-btn-cross-hover: #202020;
}
